:root {
    --mainColor: #263238;
    --mainBackground: #F0F5F3;

    --highlightColor: #59E4A9
}

/* #region ================================================== Reglas globales */


html {
    font-size: 1px;
    background-color: var(--mainBackground);
    scroll-behavior: smooth;
    transition: font-size 0.3s ease;
}

:where(*) {
    position: relative;
    box-sizing: border-box;
    z-index: 1;
    font-family: 'Open Sans';
}
:where(img){
    width: 100%;
    height: 100%;
    object-fit: contain;
}

:where(.wrap) {
    max-width: 1420rem;
    display: flex;
    flex-direction: column;
    gap: 32rem;
}

body {
    font-size: 16rem;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.a-button{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 24px 56px;
    border-radius: 8px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: clamp(16rem, 3vw, 20rem);
    width: fit-content;
    cursor: pointer;
}
.a-button.-primary{
    background-color: var(--highlightColor);
    color: #1B2E36;
    text-transform: uppercase;
}
.a-button.-primary:hover{
    background-color: #34d395
}

.a-mainPage__title {
    color: #1B252E;
    font-family: Open Sans;
    font-weight: 800;
    max-width: 550rem;
    text-transform: uppercase;
    margin: 0;
}

.-h2{
    font-size: 38rem;
}
.-h3{
    font-size: 20rem;
}

/* #endregion Reglas globales */



/* #region =========================================================== Header */
.o-mainHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    width: 100%;
    padding: 25rem 16rem;
    z-index: 2;
    max-width: 1420rem;
}

/* #region ====================================================== Left Header */
.m-headerLogo__container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.m-headerLogoContainer__img{
    display: flex;
    max-width: 300rem;
    min-width: 125rem;
}
/* #endregion Left Header */


/* #region ===================================================== Right Header */
.m-headerItem_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 32rem;
    list-style: none;
}
.m-headerItem__link{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 8rem;
    text-decoration: none;
    cursor: pointer;
    color: white;
}
.a-headerItemLink__text{
    font-family: Open Sans;
    font-size: 15px;
    font-weight: 700;
    white-space: nowrap;
}
.a-headerItemLink__ico{
    width: 16px;
    height: 18px;
}
/* #endregion  Right Header */
/* #endregion Header */

/* #region ===================================================== Hero Section */
.o-heroSection{
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 204rem);
}

.m-heroSection__image{
    position: absolute;
    width: 100%;
    height: 100%;
}
.m-heroSection__image::after{
    content: "";
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.40) 0%, rgba(0, 0, 0, 0.40) 100%);
}

.m-heroSection__info{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24rem;
}
.a-heroTitle{
    font-family: 'Petit Formal Script';
    font-size: clamp(32rem, 5vw, 64rem);
    text-align: center;
    color: var(--mainColor);
    margin: 0;
}
.m-heroSection__image{
    flex: 1;
}
.m-heroSection__image img{
    object-fit: cover;
}
.m-heroSection__form{
    background-color: #ffffff ;
    max-width: 400rem;
}
/* #endregion Hero Section */


/* #region =================================================== Brands Section */
.o-brandSection{
    background-color: var(--mainColor);
    border: solid var(--highlightColor);
    border-width: 4px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 32rem;
    row-gap: 12rem;
    padding: 48rem 16rem;
    flex-wrap: wrap;
}
.m-brandItem{
    aspect-ratio: 3/2;
    width: 150rem;
}
/* #endregion Brands Section */

/* #region ====================================================== Module home */
.o-moduleHomeSection{
    display: flex;
    flex-direction: row;
}
.m-moduleHome__figure{
    max-width: 45%;
}
.m-moduleHome__content{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 48rem;
    justify-content: space-between;
    max-width: 700rem;
    margin: 0 auto;
}
.m-moduleHomeContent__item{
    display: flex;
    flex-direction: column;
}
.m-moduleHome__content *{
    text-align: right;
    align-items: flex-end;
}
/* #endregion Module home */


/* #region ===================================================== Testimonials */
.o-testimonialsSection{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    padding: 32rem 0;
}
.m-testimonials__content{
    display: flex;
    flex-direction: row;
    gap: 24rem;
}
/* #region ================================================= testimonial item */
.m-testimonial__item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 20px;
    background: #E6E6E6;
    padding: 32rem;
    gap: 24rem;
    width: 300rem;
}
.m-testimonialItem__group{
    display: flex;
    flex-direction: column;
    gap: 16rem;
    align-items: center;
}
.m-testimonialItem__avatar{
    display: flex;
    flex-shrink: 0;
    border-radius: 50%;
    width: 96px;
    height: 96px;
    object-fit: cover;
    border: 3px solid var(--highlightColor);
}
.a-testimonialItem__text{
    color: var(--mainColor);
    text-align: center;
    font-family: Open Sans;
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
    margin: 0;
}
.a-testimonialItem__name{
    color: var(--mainColor);
    font-size: 16rem;
    font-weight: 700;
    text-transform: capitalize;
}
.o-testimonialsSection .a-button{
    align-self: center;
}
/* #endregion testimonial item */

/* #region ===================================================== About Us */
.o-aboutUsSection{
    border: solid var(--highlightColor);
    border-width: 4px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.m-aboutUs__diagram{
    padding: 48rem 16rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 56rem;
}

.m-aboutUs__container{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}
.a-aboutUs__item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24rem;
    width: 200rem;
    text-align: center;
    line-height: 20px; /* 100% */
}
.a-aboutUs__item .a-mainPage__title{
    max-width: 200rem;
}
.m-aboutUs__container::before{
    content: "";
    top: 48rem;
    left: 50%;
    transform: translate(-50%, 0);
    width: 80%;
    position: absolute;
    height: 4px;
    background-color: var(--highlightColor);
    transition: all ease 0.5s;
}
.m-mainPageIco__figure{
    display: flex;
    flex-shrink: 0;
}

.m-aboutUs__content{
    display: flex;
    flex-direction: row;
    padding: 48rem 16rem;
    gap: 32rem;
}
.m-aboutUsContent__info{
    display: flex;
    flex-direction: column;
    gap: 16rem;
    max-width: 500rem;
    justify-content: space-between;
    padding-bottom: 64rem;
}
.m-aboutUsContent__info .a-button{
    align-items: flex-end;
}
/* #endregion About Us */


/* #region ===================================================== Related Page */
.o-relatedPagesSection{
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
}

.m-relatedPage__item{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.m-relatedPage__item:nth-child(even){
    display: flex;
    flex-direction: row-reverse;
}
.m-pageItem__figure,
.m-pageItem__content{
    flex: 1;
    max-width: 50%;
}
/* #region ================================================= page item */
.m-pageItem__figure{
    display: flex;
    height: fit-content;
}
.m-pageItem__figure img{
    object-fit: cover;
    max-height: 400rem;
}
.m-pageItem__content{
    display: flex;
    flex-direction: column;
    gap: 8rem;
    padding: 48rem;
    max-width: 700rem;
}
.a-mainPage__text{
    margin: 0;
}
.m-pageItem__cta{
    margin-top: 16rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    cursor: pointer;
}
.m-cta__buttonContainer{
    display: flex;
    flex-direction: row;
    gap: 8rem;
    transition: all ease 0.6s;
    align-items: center;
}
.m-pageItem__cta:hover .m-cta__buttonContainer{
    gap: 16rem;
}

.a-cta__label{
    color: var(--mainColor);
    font-family: Open Sans;
    font-size: 16rem;
    font-style: normal;
    font-weight: 800;
    text-transform: uppercase;
}
.m-cta__buttonContainer .a-cta__highlight{
    color: var(--highlightColor);
    font-family: Open Sans;
    font-size: 16rem;
    font-style: normal;
    font-weight: 800;
    text-transform: uppercase;
}
.m-cta__buttonContainer .a-cta__ico{
    width: 16rem;
}
/* #endregion  page item  */

/* #endregion Related Page */

/* #region ==================================================== Study section */
.o-studySection{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 16rem;
    padding: 64rem 16rem;
    border: solid var(--highlightColor);
    border-width: 4px 0;
    text-align: center;
}
.m-mainPageIco__figure{
    --size: 96rem;
    width: var(--size);
    height: var(--size);
    background-color: var(--mainColor);
    border-radius: 50%;
    border: 4px solid var(--highlightColor);
    display: flex;
    justify-content: center;
    align-items: center;
}
.m-mainPage__ico{
    --size: 32rem;
    width: var(--size);
    height: var(--size);
}
.m-study__content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    max-width: 500rem;
}
/* #endregion Study section */

/* #region =========================================================== Footer */

.o-mainFooter {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--mainColor);
    padding: 42rem 16rem;
    z-index: 0;
}
.o-mainFooter .wrap{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: auto;
}

.m-footer__cta{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 32rem;
}
.a-footerCta__img{
    width: 158rem;
    height: 158rem;
    aspect-ratio: 1/1;
    border: 4px solid var(--highlightColor);
    border-radius: 50%;
    object-fit: cover;
    object-position: top;
}
.m-footerCta__content{
    display: flex;
    flex-direction: column;
    gap: 12rem;
}
.m-footerCta__content .a-mainPage__title{
    font-size: 28rem;
    font-weight: 800;
    color: #ffffff;   
    max-width: 300rem; 
    line-height: 30rem;
}
.m-footerCta__content .a-button{
    font-size: 14px;
    font-weight: 600;
    padding: 8rem 16rem;
}

.m-footer__info{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap:8rem ;
}
.m-footerInfo__figure{
    max-width: 300rem;
}
.m-footerInfo__links{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 8rem;
}
.a-footerLink{
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: var(--highlightColor);
    cursor: pointer;
    border-bottom: 1px solid transparent;
    transition: all ease-in-out 0.5s;
}
.a-footerLink:hover{
    border-bottom: 1px solid var(--highlightColor);
}
.m-footerInfo__copyright{
    font-family: Lato;
    font-size: 14rem;
    font-weight: 400;
    line-height: 21px;
    color: #ccc;

}
/* #endregion Footer */


@media (max-width: 1050px) {
    .m-aboutUs__container{
        flex-direction: column;
        align-items: flex-start;
        gap: 16rem;
        width: fit-content;
    }
    .m-aboutUs__container::before{
        width: 4px;
        height: 100%;
        top: 0;
        left: 48rem;
        transform: none;
    }
    .a-aboutUs__item{
        flex-direction: row;
        width: auto;
    }
    .a-aboutUs__item .a-mainPage__title{
        text-align: left;
    }

}


@media (max-width: 720px) {
    html {
        font-size: 0.9px;
    }
    .a-button{
        padding: 24px 32px;
        width: 100%;
    }

    /* #region ================================================= Module home */
    .m-moduleHome__content *{
        text-align: left;
        align-items: flex-start;
    }
    .m-moduleHome__figure{
        display: none;
    }
    .m-moduleHome__content{
        padding: 16rem;
    }
    .m-moduleHome__content .a-button{
        text-align: center;
        width: 100%;
        margin-top: 16rem;
    }
    /* #endregion Module home */

    /* #region ================================================= About us */
    .m-aboutUs__content{
        flex-direction: column-reverse;
        padding: 16rem;
        gap: 16rem;
    }
    .m-aboutUs__diagram {
        padding: 16rem;
        text-align: center;
    }
    .m-aboutUsContent__info{
        padding-bottom: 48rem;
    }
    /* #endregion About us */



    /* #region ================================================= Related Page */

    .o-relatedPagesSection{
        gap: 16rem;
    }
    .m-relatedPage__item{
        flex-direction: column !important;
    }
    .m-pageItem__figure{
        width: 100%;
        max-width: inherit;
        max-height: 175rem;
    }
    .m-pageItem__figure img{
        max-height: inherit;
    }
    .m-pageItem__content{
        padding: 16rem;
    }
    .m-pageItem__cta{
        margin-top:8rem ;
    }
    /* #endregion Related Page */

    /* #region ================================================= Study module */
    .m-study__content{
        align-items: center;
        text-align: center;
    }
    /* #endregion Study module */
    
    /* #region ================================================= Foooter */
    .o-mainFooter .wrap,
    .m-footer__info{
        justify-content: center;
        align-items: center;
    }
    /* #endregion Foooter */


}