:root {
    --mainColor: #263238;
    --mainBackground: #f0f5f3;

    --highlightColor: #59e4a9;
}

/* #region ================================================== Reglas globales */

html {
    font-size: 1px;
    background-color: var(--mainBackground);
    scroll-behavior: smooth;
    transition: font-size 0.3s ease;
}

:where(*) {
    position: relative;
    box-sizing: border-box;
    z-index: 1;
    font-family: "Open Sans";
}
:where(img) {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

:where(.wrap) {
    max-width: 1420rem;
    display: flex;
    flex-direction: column;
    gap: 32rem;
}

body {
    font-size: 16rem;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.a-button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 24px 56px;
    border-radius: 8px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: clamp(16rem, 3vw, 20rem);
    width: fit-content;
    cursor: pointer;
}
.a-button.-primary {
    background-color: var(--highlightColor);
    color: #1b2e36;
    text-transform: uppercase;
}
.a-button.-primary:hover {
    background-color: #34d395;
}

.a-mainPage__title {
    color: #1b252e;
    font-family: Open Sans;
    font-weight: 800;
    max-width: 550rem;
    text-transform: uppercase;
    margin: 0;
}

.-h2 {
    font-size: 38rem;
    line-height: 40rem;
    margin-bottom: 8rem;
}
.-h3 {
    font-size: 20rem;
}

@keyframes shake {
    0% {
        transform: translateX(0);
    }
    20% {
        transform: translateX(-5px);
    }
    40% {
        transform: translateX(5px);
    }
    60% {
        transform: translateX(-5px);
    }
    80% {
        transform: translateX(5px);
    }
    100% {
        transform: translateX(0);
    }
}

.-invalid:not(.-checkboxInput) {
    box-shadow: 0px 0px 0px 1px red;
    animation: shake 0.6s;
}
.-invalid.-checkboxInput input {
    box-shadow: 0px 0px 0px 1px red;
    animation: shake 0.6s;
}

@keyframes wobble-hor-top {
    0%,
    100% {
        transform: translateX(0);
        transform-origin: 50% 50%;
    }
    15% {
        transform: translateX(-30px) rotate(6deg);
    }
    30% {
        transform: translateX(15px) rotate(-6deg);
    }
    45% {
        transform: translateX(-15px) rotate(3.6deg);
    }
    60% {
        transform: translateX(9px) rotate(-2.4deg);
    }
    75% {
        transform: translateX(-6px) rotate(1.2deg);
    }
}

.-blink {
    box-shadow: 0px 0px 20px 10px var(--highlightColor);
    animation: wobble-hor-top 0.8s both;
}

/* Swiper class */

.swiper {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
}

.swiper-wrapper{
    padding: 0 32rem !important;
}

.swiper-button-prev:after,
.swiper-button-next:after {
    content: "";
}

.swiper-button-prev,
.swiper-button-next {
    width: initial;
    height: initial;
    font-size: 3rem;
    color: var(--second-color);
    display: none;
}

.swiper-button-prev {
    left: 0;
}

.swiper-button-next {
    right: 0;
}

.swiper-pagination-bullet {
    background-color: hsl(212, 32%, 40%);
    opacity: 1;
}

.swiper-pagination-bullet-active {
    background-color: var(--second-color);
}

/* #endregion Reglas globales */

/* #region =========================================================== Header */
.o-mainHeader {
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    width: 100%;
    padding: 25rem 16rem;
    z-index: 2;
    transition: all ease-in-out 0.5s;
    margin: 0;
}

.o-mainHeader.-minify {
    background-color: var(--mainColor);
    padding: 16rem;
}
.o-mainHeader.-minify .m-headerLogoContainer__img {
    max-width: 250rem;
}

.o-mainHeader .wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

/* #region ====================================================== Left Header */
.m-headerLogo__container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.m-headerLogoContainer__img {
    display: flex;
    max-width: 300rem;
    min-width: 125rem;
    transition: all ease-in-out 0.5s;
}
/* #endregion Left Header */

/* #region ===================================================== Right Header */
.m-headerItem_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 32rem;
    list-style: none;
}
.m-headerItem__link {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 8rem;
    text-decoration: none;
    cursor: pointer;
    color: white;
}
.a-headerItemLink__text {
    font-family: Open Sans;
    font-size: 15px;
    font-weight: 700;
    white-space: nowrap;
}
.a-headerItemLink__ico {
    width: 16px;
    height: 18px;
}
/* #endregion  Right Header */
/* #endregion Header */

/* #region ===================================================== Hero Section */
.o-heroSection {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 204rem);
}

.m-heroSection__image {
    position: absolute;
    width: 100%;
    height: 100%;
}
.m-heroSection__image::after {
    content: "";
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.4) 0%,
        rgba(0, 0, 0, 0.4) 100%
    );
}

.m-heroSection__info {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24rem;
}
.a-heroTitle {
    font-family: "Petit Formal Script";
    font-size: clamp(32rem, 5vw, 64rem);
    text-align: center;
    color: var(--mainColor);
    margin: 0;
}
.m-heroSection__image {
    flex: 1;
}
.m-heroSection__image img {
    object-fit: cover;
}

/* #endregion Hero Section */

/* #region ================================================= Form HeroSection */
.m-heroSection__form {
    background-color: #ffffff;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 6rem;
    max-width: 400rem;
    transition: all ease-in-out 1s;
}
.m-heroForm__header {
    display: flex;
    flex-direction: column;
    padding: 8rem;
    gap: 4rem;
}
.a-heroForm__title {
    color: #000;
    text-align: center;
    font-family: Montserrat;
    font-size: 26rem;
    font-weight: 800;
    line-height: 24rem;
    font-variant: all-small-caps;
    margin: 0;
}
.a-heroForm__subtitle {
    color: #000;
    text-align: center;
    font-family: Montserrat;
    font-size: 19rem;
    font-weight: 400;
    font-variant: all-small-caps;
    margin: 0;
}
.a-heroFormContent__title {
    color: #000;
    text-align: center;
    font-family: Montserrat;
    font-size: 22rem;
    font-weight: 800;
    font-variant: all-small-caps;
    margin: 0;
}
.m-heroForm__separator {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 12rem;
    transition: all ease-in-out 0.5s;
}
.m-heroForm__separator::before {
    content: "";
    width: 100%;
    height: 1px;
    background-color: #c1c0c0;
    position: absolute;
}
.a-heroFormSeparator__dropdown {
    --size: 26rem;
    width: var(--size);
    height: var(--size);
    cursor: pointer;
    transition: all ease-in-out 0.5s;
}
.m-heroForm__separator.-active .a-heroFormSeparator__dropdown {
    transform: rotate(180deg);
}
.m-heroForm__content {
    display: flex;
    flex-direction: column;
    gap: 16rem;
    overflow: hidden;
    transition: all ease-in-out 0.2s;
}
.m-heroFormContent__step {
    display: none;
    flex-direction: column;
    gap: 16rem;
}
.m-heroFormContent__radioContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8rem;
}

.a-heroForm__radioItem input {
    display: none;
}
.m-radioItem__label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16rem;
    border: 1px solid #ccc;
    aspect-ratio: 1/1;
    width: 120rem;
    cursor: pointer;
    box-shadow: 0px 0px 0px 0px transparent inset;
    transition: all ease-in-out 0.5s;
}
.m-radioItem__label:hover {
    border: 1px solid #59e4aa62;
}
.a-heroForm__radioItem input[type="radio"]:checked + .m-radioItem__label {
    box-shadow: 0px 0px 8px 2px var(--highlightColor) inset;
}
.a-radioItemLabel__img {
    --size: 50rem;
    width: var(--size);
    height: var(--size);
}
.a-radioItemLabel__text {
    color: #000;
    font-family: Open Sans;
    font-size: 13px;
    font-weight: 600;
}

.m-progressContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16rem;
    padding: 16rem;
}
.m-progressBar {
    width: 100%;
    height: 10px;
    background-color: #e3e3e3;
    border-radius: 4px;
    overflow: hidden;
}
.a-progressStatus {
    background-color: var(--highlightColor);
    height: 100%;
    width: 15%;
    border-radius: 4px;
    transition: all ease-in-out 0.4s;
}
.m-progressStep {
    display: flex;
    flex-direction: row;
    gap: 4rem;
}
.a-progressStep__text {
    color: #000;
    font-family: Montserrat;
    font-size: 12rem;
    font-style: normal;
    font-weight: 400;
}
.m-heroForm__actions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 16rem;
    width: 100%;
    border-top: 1px solid #000;
}
.m-form__buttonContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 4rem 8rem;
    gap: 8rem;
    cursor: pointer;
    border-radius: 4px;
}
.m-form__buttonContainer.-prev {
    flex-direction: row-reverse;
}
.m-form__buttonContainer.-prev .a-formButton__ico {
    transform: rotate(-180deg);
}

.m-form__buttonContainer.-send {
    background-color: var(--highlightColor);
}
.m-form__buttonContainer.-send .a-formButton__ico {
    display: none;
}
.m-form__buttonContainer:hover {
    background-color: #ebebeb;
    user-select: none;
}
.a-formButton__ico {
    height: 13rem;
}
.a-formButton__text {
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 600;
}

.m-heroFormContent__inputContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 8rem;
    padding: 0 24rem;
}
.a-heroForm__inputItem {
    width: 100%;
    display: flex;
    flex-direction: row;
}
.a-heroForm__inputItem input {
    padding: 12rem;
    border: 1px solid #ccc;
    width: 100%;
}
.a-heroForm__inputItem input::placeholder {
    color: #9696a0;
    font-family: Montserrat;
    font-size: 12rem;
    font-weight: 400;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.a-heroForm__inputItem.-phoneInput::before {
    content: "+34";
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8rem;
    border: solid #ccc;
    border-width: 1px 0 1px 1px;
    background: #f3f3f3;
    color: #9696a0;

    font-family: Montserrat;
    font-size: 14rem;
    font-style: normal;
}

.a-heroForm__inputItem.-checkboxInput {
    margin-top: 8rem;
    gap: 8rem;
}
.a-heroForm__inputItem.-checkboxInput input {
    --size: 16rem;
    width: var(--size);
    height: var(--size);
    margin: 0;
}
.a-checkbox__text {
    color: #a7a5a4;
    font-family: Montserrat;
    font-size: 10rem;
    font-weight: 400;
    margin: 0;
}
.a-checkbox__text a {
    cursor: pointer;
    color: #0186f5;
}

/* #endregion Form HeroSection */

/* #region =================================================== Brands Section */
.o-brandSection {
    background-color: var(--mainColor);
    border: solid var(--highlightColor);
    border-width: 4px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 32rem;
    row-gap: 12rem;
    padding: 48rem 16rem;
    flex-wrap: wrap;
}
.m-brandItem {
    aspect-ratio: 3/2;
    width: 150rem;
}
/* #endregion Brands Section */

/* #region ====================================================== Module home */
.o-moduleHomeSection {
    display: flex;
    flex-direction: row;
}
.m-moduleHome__figure {
    max-width: 45%;
}
.m-moduleHome__content {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 48rem;
    justify-content: space-between;
    max-width: 700rem;
    margin: 0 auto;
}
.m-moduleHomeContent__item {
    display: flex;
    flex-direction: column;
}
.m-moduleHome__content * {
    text-align: right;
    align-items: flex-end;
}
/* #endregion Module home */

/* #region ===================================================== Testimonials */
.o-testimonialsSection {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    padding: 32rem 16rem;
}
.o-testimonialsSection .wrap{
    width: 100%;
}
.m-testimonials__content {
    display: flex;
    flex-direction: row;
    gap: 24rem;
}
/* #region ================================================= testimonial item */
.m-testimonial__item {
    scroll-snap-align: start;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 20px;
    background: #e6e6e6;
    padding: 32rem;
    gap: 24rem;
}
.m-testimonialItem__group {
    display: flex;
    flex-direction: column;
    gap: 16rem;
    align-items: center;
}
.m-testimonialItem__avatar {
    display: flex;
    flex-shrink: 0;
    border-radius: 50%;
    width: 96px;
    height: 96px;
    object-fit: cover;
    border: 3px solid var(--highlightColor);
}
.a-testimonialItem__text {
    color: var(--mainColor);
    text-align: center;
    font-family: Open Sans;
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
    margin: 0;
}
.a-testimonialItem__name {
    color: var(--mainColor);
    font-size: 16rem;
    font-weight: 700;
    text-transform: capitalize;
}
.o-testimonialsSection .a-button {
    align-self: center;
}

/* #region ===================================================== Carrusel */

.m-testimonials__content {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 4) - 48rem);
    gap: 64rem;
    overflow: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    scrollbar-width: 0;
    padding-left: 0;
}
.m-testimonials__content::-webkit-scrollbar {
    display: none;
}
.m-testimonials__content.-dragging {
    scroll-behavior: auto;
    scroll-snap-type: none;
}
.m-testimonials__content.-dragging .m-productCard {
    cursor: grab;
    user-select: none;
}
.m-testimonialWrap {
    padding: 0 96rem;
    width: 100%;
    margin: auto;
}
.a-carruselController {
    display: grid;
    place-items: center;
    width: 40rem;
    height: 40rem;
    background-color: var(--secundaryColor);
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.23);
    background-color: white;
    z-index: 9;
}
.o-testimonialsSection .a-carruselController:first-child {
    left: 20rem;
}
.o-testimonialsSection .a-carruselController:last-child {
    right: 20rem;
}


/* #endregion testimonial item */


/* #endregion testimonial item */

/* #region ===================================================== About Us */
.o-aboutUsSection {
    border: solid var(--highlightColor);
    border-width: 4px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.m-aboutUs__diagram {
    padding: 48rem 16rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 56rem;
}

.m-aboutUs__container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}
.a-aboutUs__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24rem;
    width: 200rem;
    text-align: center;
    line-height: 20px; /* 100% */
}
.a-aboutUs__item .a-mainPage__title {
    max-width: 200rem;
}
.m-aboutUs__container::before {
    content: "";
    top: 48rem;
    left: 50%;
    transform: translate(-50%, 0);
    width: 80%;
    position: absolute;
    height: 4px;
    background-color: var(--highlightColor);
    transition: all ease 0.5s;
}
.m-mainPageIco__figure {
    display: flex;
    flex-shrink: 0;
}

.m-aboutUs__content {
    display: flex;
    flex-direction: row;
    padding: 48rem 16rem;
    gap: 32rem;
}
.m-aboutUsContent__info {
    display: flex;
    flex-direction: column;
    gap: 16rem;
    max-width: 500rem;
    justify-content: space-between;
    padding-bottom: 64rem;
}
.m-aboutUsContent__info .a-button {
    align-items: flex-end;
}
/* #endregion About Us */

/* #region ===================================================== Related Page */
.o-relatedPagesSection {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
}

.m-relatedPage__item {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.m-relatedPage__item:nth-child(even) {
    display: flex;
    flex-direction: row-reverse;
}
.m-pageItem__figure,
.m-pageItem__content {
    flex: 1;
    max-width: 50%;
}
/* #region ================================================= page item */
.m-pageItem__figure {
    display: flex;
    height: fit-content;
}
.m-pageItem__figure img {
    object-fit: cover;
    max-height: 400rem;
}
.m-pageItem__content {
    display: flex;
    flex-direction: column;
    gap: 8rem;
    padding: 48rem;
    max-width: 700rem;
}
.a-mainPage__text {
    margin: 0;
}
.m-pageItem__cta {
    margin-top: 16rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    cursor: pointer;
}
.m-cta__buttonContainer {
    display: flex;
    flex-direction: row;
    gap: 8rem;
    transition: all ease 0.6s;
    align-items: center;
}
.m-pageItem__cta:hover .m-cta__buttonContainer {
    gap: 16rem;
}

.a-cta__label {
    color: var(--mainColor);
    font-family: Open Sans;
    font-size: 16rem;
    font-style: normal;
    font-weight: 800;
    text-transform: uppercase;
}
.m-cta__buttonContainer .a-cta__highlight {
    color: var(--highlightColor);
    font-family: Open Sans;
    font-size: 16rem;
    font-style: normal;
    font-weight: 800;
    text-transform: uppercase;
}
.m-cta__buttonContainer .a-cta__ico {
    width: 16rem;
    filter: invert(93%) sepia(89%) saturate(632%) hue-rotate(73deg)
        brightness(102%) contrast(79%);
}
/* #endregion  page item  */

/* #endregion Related Page */

/* #region ==================================================== Study section */
.o-studySection {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 16rem;
    padding: 64rem 16rem;
    border: solid var(--highlightColor);
    border-width: 4px 0;
    text-align: center;
}
.m-mainPageIco__figure {
    --size: 96rem;
    width: var(--size);
    height: var(--size);
    background-color: var(--mainColor);
    border-radius: 50%;
    border: 4px solid var(--highlightColor);
    display: flex;
    justify-content: center;
    align-items: center;
}
.m-mainPage__ico {
    --size: 32rem;
    width: var(--size);
    height: var(--size);
}
.m-study__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    max-width: 500rem;
}
/* #endregion Study section */

/* #region =========================================================== Footer */

.o-mainFooter {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--mainColor);
    padding: 42rem 16rem;
    z-index: 0;
}
.o-mainFooter .wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: auto;
}

.m-footer__cta {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 32rem;
}
.a-footerCta__img {
    width: 158rem;
    height: 158rem;
    aspect-ratio: 1/1;
    border: 4px solid var(--highlightColor);
    border-radius: 50%;
    object-fit: cover;
    object-position: top;
}
.m-footerCta__content {
    display: flex;
    flex-direction: column;
    gap: 12rem;
}
.m-footerCta__content .a-mainPage__title {
    font-size: 28rem;
    font-weight: 800;
    color: #ffffff;
    max-width: 300rem;
    line-height: 30rem;
}
.m-footerCta__content .a-button {
    font-size: 14px;
    font-weight: 600;
    padding: 8rem 16rem;
}

.m-footer__info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 8rem;
}
.m-footerInfo__figure {
    max-width: 300rem;
}
.m-footerInfo__links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 8rem;
}
.a-footerLink {
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: var(--highlightColor);
    cursor: pointer;
    border-bottom: 1px solid transparent;
    transition: all ease-in-out 0.5s;
}
.a-footerLink:hover {
    border-bottom: 1px solid var(--highlightColor);
}
.m-footerInfo__copyright {
    font-family: Lato;
    font-size: 14rem;
    font-weight: 400;
    line-height: 21px;
    color: #ccc;
}
/* #endregion Footer */

@media (max-width: 1050px) {
    .m-aboutUs__container {
        flex-direction: column;
        align-items: flex-start;
        gap: 16rem;
        width: fit-content;
    }
    .m-aboutUs__container::before {
        width: 4px;
        height: 100%;
        top: 0;
        left: 48rem;
        transform: none;
    }
    .a-aboutUs__item {
        flex-direction: row;
        width: auto;
    }
    .a-aboutUs__item .a-mainPage__title {
        text-align: left;
    }
    .m-testimonials__content{
        grid-auto-columns: calc((100% / 2) - 32rem);
    }
}

@media (max-width: 720px) {
    html {
        font-size: 0.9px;
    }
    .a-button {
        padding: 24px 32px;
        width: 100%;
    }
    .o-heroSection {
        height: calc(100vh - 90rem);
    }

    .m-testimonialWrap{
        padding: 0 32rem;
    }

    .m-testimonials__content {
        grid-auto-columns: 100%;
    }

    /* #region ================================================= Module home */
    .m-moduleHome__content * {
        text-align: left;
        align-items: flex-start;
    }
    .m-moduleHome__figure {
        display: none;
    }
    .m-moduleHome__content {
        padding: 16rem;
        align-items: flex-start;
        gap: 8rem;
    }
    .m-moduleHome__content .a-button {
        text-align: center;
        width: 100%;
        margin-top: 16rem;
    }
    /* #endregion Module home */

    /* #region ================================================= About us */
    .m-aboutUs__content {
        flex-direction: column-reverse;
        padding: 16rem;
        gap: 16rem;
    }
    .m-aboutUs__diagram {
        padding: 16rem;
        text-align: center;
    }
    .m-aboutUsContent__info {
        padding-bottom: 48rem;
    }
    /* #endregion About us */

    /* #region ================================================= Related Page */

    .o-relatedPagesSection {
        gap: 16rem;
    }
    .m-relatedPage__item {
        flex-direction: column !important;
    }
    .m-pageItem__figure {
        width: 100%;
        max-width: inherit;
        max-height: 175rem;
    }
    .m-pageItem__figure img {
        max-height: inherit;
    }
    .m-pageItem__content {
        padding: 16rem;
    }
    .m-pageItem__cta {
        margin-top: 8rem;
    }
    /* #endregion Related Page */

    /* #region ================================================= Study module */
    .m-study__content {
        align-items: center;
        text-align: center;
    }
    /* #endregion Study module */

    /* #region ================================================= Foooter */
    .o-mainFooter .wrap,
    .m-footer__info {
        justify-content: center;
        align-items: center;
    }
    /* #endregion Foooter */
}
